{% extends 'base.html.twig' %}

{% block title %}New Produit
{% endblock %}

{% block body %}
	<div class="m-10">
		<h1 class="mb-4">Création d'un nouveau produit</h1>

		{{ include('produit/_form.html.twig') }}

		<div class="my-8">
			<a href="{{ path('app_produit') }}" class="text-xl bg-rose-700 shadow rounded-lg p-2 ml-4 mt-10 text-white hover:bg-rose-800 focus:ring-2 focus:ring-rose-900">Retour</a>
		</div>
	</div>
{% endblock %}
