{% extends 'base.html.twig' %}

{% block title %}Votre commande
{% endblock %}

{% block body %}
	<div class="p-10 flex justify-center">
		<h1 class="text-3xl">Passer la commande</h1>
	</div>


	<section class="ml-40 text-xl">

		<div class="">
        
			{% for commande in commandes %}
            <ul>
				<li>{{ commande.id }}</li>
				<li>{{ commande.moyenPaiement }}</li>
				<li>{{ commande.date.format('d/m/Y') }}</li>
			</ul>
            {% endfor %}

		</div>

	</section>
{% endblock %}
