{% extends 'base.html.twig' %}

{% block title %}Paiement
{% endblock %}

{% block body %}

    <h1 class="flex justify-center text-3xl p-10">Moyen de paiement</h1>

<div class="">Montant à payer : {{ total }} €</div>



{% endblock %}