{% extends "base.html.twig" %}

{% block title %}
	Fil Rouge - Produits
{% endblock %}

{% block body %}

	<!-- Titre de page -->
	<section>
		<div class="flex justify-center font-mono text-3xl text-rose-500 pt-20">
			Bouquets
		</div>
	</section>

	<!-- Cards de produits en vente -->
	<section>
		<div class="flex flex-wrap justify-evenly m-20 text-rose-400">
			{% for produit in produits %}
				<div class="max-w-sm bg-rose-50 border border-gray-200 rounded-lg shadow">
					<a href="Produit.html">
						<img class="rounded-t-lg p-4" src="{{ produit.photo }}" alt="Roses 20 tiges"/>
					</a>
					<div class="p-5">
						<a href="Produit.html">
							<h5 class="flex justify-center mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ produit.nom }}
							</h5>
						</a>
						<hr class="my-6 border-rose-600 sm:mx-auto lg:my-4">
						<p class="flex justify-center mb-3 font-normal text-gray-700">{{ produit.prix }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>

{% endblock %}
