<!-- Footer -->
<footer class="p-4 bg-rose-100 rounded-lg shadow w-screen md:px-6 md:py-8">
	<div class="sm:flex sm:items-center sm:justify-between">
		<div
			class="flex items-center mb-4 sm:mb-0">
			<!-- <img src="img/ASCActus.png" class="h-8 mr-3" alt="ASCActus Logo" /> -->
			<img src="https://uploads.turbologo.com/uploads/design/hq_preview_image/2974246/draw_svg20210805-28561-1h6ascn.svg.png" alt="FauxLogo" class="h-24 w-auto">
		</div>
		<ul class="flex flex-wrap items-center mb-6 text-xl sm:mb-0">
			<li>
				<span class="mr-3 text-lg text-rose-700">Contactez-nous :</span>
			</li>
			<li class="bg-rose-200 mr-2 rounded-full border-2 border-rose-300 p-2 hover:border-rose-200 hover:bg-rose-200">
				<a href="#" class="p-1 bx-flashing-hover" target="_blank">
					<i class='bx bxl-facebook center' style='color:#9f1239'></i>
				</a>
			</li>
			<li class="bg-rose-200 mr-2 rounded-full border-2 border-rose-300 p-2 hover:border-rose-200 hover:bg-rose-200">
				<a href="https://twitter.com/" class="p-1 bx-flashing-hover" target="_blank">
					<i class='bx bxl-twitter' style='color:#9f1239'></i>
				</a>
			</li>
			<li class="bg-rose-200 mr-2 rounded-full border-2 border-rose-300 p-2 hover:border-rose-200 hover:bg-rose-200">
				<a href="https://www.instagram.com/?hl=fr" class="p-1 bx-flashing-hover" target="_blank">
					<i class='bx bxl-instagram' style='color:#9f1239'></i>
				</a>
			</li>
		</ul>
	</div>
	<hr class="my-6 border-rose-800 sm:mx-auto lg:my-8"/>
	<div class="flex justify-center">
		<span class="mr-4 text-sm text-rose-700 sm:text-center">
			<a href="#" class="hover:text-rose-500">Contactez-nous</a>
		</span>
		<span class="mr-4 text-sm text-rose-700 sm:text-center">
			<a href="#" class="hover:text-rose-500">Mentions
									          Légales</a>
		</span>
		<span class="text-sm text-rose-700 sm:text-center">
			<a href="#" class="hover:text-rose-500">Politique
									          d'utilisation des cookies</a>
		</span>
	</div>
</footer>
